<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         executionOrder="random"
         bootstrap="vendor/autoload.php"
         colors="true">
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="display_errors" value="true"/>
        <ini name="xdebug.mode" value="coverage"/>
    </php>
    <coverage>
        <report>
            <html outputDirectory="reports/coverage"/>
            <text outputFile="reports/coverage.txt"/>
            <clover outputFile="reports/logs/clover.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Package">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
    </source>
</phpunit>